body{
  width: 70%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  display: flex;
  justify-content: space-between;

}

.center a{
  padding: 0px 10px;
}

nav a{
    color: black;
    text-decoration: none;
    font:bold;
    font-size: 1.2em;
    padding: 10px 0px;
}

header {
  color: #A52A2A;
  height: 150px;
  background-color: #F5DEB3;
  text-align: center;
  padding: 20px;
}

section {
  align-content: flex-start;
}

#conceitos {
  background-color: #6495ED;
  padding: 20px;
  border-radius: 15px;
}

#galeria{
  background-color: #dfdfdf;
  padding: 10px;
}


#caixa-grande{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.caixa-pequena {
  width: 100px;
  height: 100px;
  padding: 20px;
  background-color: green;
}

